---
import { labels } from "../i18n/ui";

type Lang = keyof typeof labels;

const currentLang = (Astro.currentLocale || "en") as Lang;
const about = Object.fromEntries(Object.entries(labels[currentLang].about));
---

<section id="about" class="mb-28">
  <h2 class="text-4xl text-primary font-bold mb-16 text-center xl:text-5xl">
    {about.title}
    <span class="text-foreground">{about.me}</span>
  </h2>

  <div class="flex flex-col gap-12 xl:grid xl: grid-cols-2">
    <p class="text-lg font-bold text-justify px-5 xl:text-xl">
      {about.description}
    </p>
    <p class="text-lg font-bold text-justify px-5 xl:text-xl">
      {about.label}
    </p>
  </div>
</section>
