---
import IconClose from "../assets/cross-1.svg";
import IconOpen from "../assets/hamburger-menu.svg";
import { useTranslation } from "../i18n/utils";
import { labels, type LanguagesList } from "../i18n/ui";
import NavbarItems from "./NavbarItems.astro";

type Lang = keyof typeof labels;

const currentLang = (Astro.currentLocale || "en") as Lang;

const t = useTranslation(currentLang as keyof typeof LanguagesList);

const hero = Object.fromEntries(Object.entries(labels[currentLang].hero));
---

<nav
  class="sticky top-0 z-50 p-4 flex justify-between items-center bg-menu/50 rounded-xl mt-5"
>
  <a
    href="#home"
    class="flex items-center font-bold text-xl"
    id="navbar-home-link"
  >
    Angel<span class="text-primary">{hero.portfolio}</span>
  </a>

  <NavbarItems isRaw={true} />

  <IconOpen
    id="open-btn"
    class="size-6 items-center cursor-pointer hover:stroke-foreground xl:hidden"
  />

  <div id="menu-modal" class="bg-black/70 fixed inset-0 hidden">
    <ul
      class="flex flex-col h-90 w-64 gap-1 items-center bg-menu/85 absolute right-1 top-2 rounded-md py-5 place-content-evenly"
    >
      <NavbarItems />
    </ul>
    <IconClose
      id="close-btn"
      class="size-6 stroke-foreground cursor-pointer hover:stroke-[2] absolute right-5 top-5"
    />
  </div>
</nav>

<script>
  const closebtn = document.getElementById("close-btn");
  const openbtn = document.getElementById("open-btn");
  const modal = document.getElementById("menu-modal");
  const menuItems = document.querySelectorAll("a");

  closebtn?.addEventListener("click", () => {
    modal?.classList.add("hidden");
    openbtn?.classList.remove("hidden");
  });
  openbtn?.addEventListener("click", () => {
    modal?.classList.remove("hidden");
    openbtn?.classList.add("hidden");
  });

  modal?.addEventListener("click", () => {
    modal?.classList.add("hidden");
    openbtn?.classList.remove("hidden");
  });

  menuItems.forEach((item) => {
    item.addEventListener("click", () => {
      modal?.classList.add("hidden");
    });
  });

  // Evitar reload en el enlace de Home y el nombre
  const homeLink = document.getElementById("navbar-home-link");
  if (homeLink) {
    homeLink.addEventListener("click", function (e) {
      e.preventDefault();
      const homeSection = document.getElementById("home");
      if (homeSection) {
        homeSection.scrollIntoView({ behavior: "smooth" });
      }
    });
  }
</script>
