---
import { labels } from "../i18n/ui";

interface skill {
  name: "programming" | "frameworks" | "db" | "other";
  stack: string[];
}

const mySkills: skill[] = [
  {
    name: "programming",
    stack: ["java", "javaScript", "typeScript"],
  },
  {
    name: "frameworks",
    stack: [
      "react",
      "spring-boot",
      "tailwindcss",
      "flutter",
      "next",
    ],
  },
  {
    name: "db",
    stack: ["mysql", "mongodb", "postgresql"],
  },
  {
    name: "other",
    stack: ["docker", "git"],
  },
];

type Lang = keyof typeof labels;

const currentLang = (Astro.currentLocale || "en") as Lang;
const skill = Object.fromEntries(Object.entries(labels[currentLang].skills));
---

<section id="skills">
  <h2
    class="text-4xl mb-10 text-center font-bold text-primary xl:text-5xl xl:mb-14"
  >
    {skill.title}
  </h2>
  <div class="mb-20 xl:grid xl:grid-cols-2 gap-4">
    {
      mySkills.map((category) => (
        <div class="border border-primary py-3 mb-2 rounded-md">
          <h3 class="font-bold text-center mb-2">
            {labels[currentLang].category[category.name]}
          </h3>
          <div class="border border-primary/10 mx-20 mb-2" />
          <div class="flex place-content-evenly my-2">
            {category.stack.map((svg) => (
              <div class="flex flex-col items-center mx-2">
                <img src={`/svg/${svg}.svg`} alt={svg} class="size-8" />
                <p class="text-xs mt-1">{svg.charAt(0).toUpperCase() + svg.slice(1)}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
