---
import Gmail from "../assets/social/gmail.svg";
import Instagram from "../assets/social/instagram.svg";
import Linkedin from "../assets/social/linkedin.svg";
import Github from "../assets/social/github.svg";
import ArrowDown from "../assets/arrow-down.svg";
---

<div class="flex items-center place-content-evenly w-full mb-10 -mt-3">
  <a
    class="bg-gray-700/40 textforeground p-2 rounded-full cursor-pointer hover:scale-105"
    href="https://github.com/Tend0Dev"
    target="_blank"
    aria-label="gmail"
  >
    <Github class="size-6" />
  </a>
  <a
    class="bg-slate-200 p-2 rounded-full cursor-pointer hover:scale-105"
    href="https://linkedin.com/in/angel-mejia01"
    target="_blank"
    aria-label="gmail"
  >
    <Linkedin class="size-6" />
  </a>
  <a
    class="bg-slate-200 p-2 rounded-full cursor-pointer hover:scale-105"
    href="https://mail.google.com/mail/?view=cm&fs=1&to=angelmejiaprz@gmail.com&su=Hey%20Angel!"
    target="_blank"
    aria-label="gmail"
  >
    <Gmail class="size-6" />
  </a>

  <a
    class="bg-gradient-to-tr from-pink-500 via-fuchsia-500 to-indigo-500 p-2 rounded-full cursor-pointer hover:scale-105"
    href="https://www.instagram.com/angelmejiaprz/"
    target="_blank"
    aria-label="instagram"
  >
    <Instagram class="size-6" />
  </a>

  <a
    href="/CV-ANGEL-MEJIA.pdf"
    download
    class="bg-primary text-background p-2 rounded-full cursor-pointer hover:bg-primary/80 animate-float"
    aria-label="Download CV"
  >
    <ArrowDown class="size-[22px]" />
  </a>
</div>
