---
import Layout from "../../layouts/Layout.astro";
import HeroSection from "../../components/HeroSection.astro";
import About from "../../components/About.astro";
import Projects from "../../components/Projects.astro";
import Contact from "../../components/contact.astro";
import Footer from "../../components/Footer.astro";
import Skills from "../../components/Skills.astro";
---

<Layout>
  <div class="mx-2">
    <HeroSection />
    <About />
    <Skills />
    <Projects />
    <Contact />
    <Footer />
  </div>
</Layout>
